<% @page_title = t('.account_settings') %>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title"><%= t('.account') %></h3>
					</div>
					<div class="panel-body">
						<%= form_for @user, url: settings_account_path, html: { class: 'form-horizontal user-form' } do |f| %>
							<%= render 'share/flash_messages' %>
							<%= render 'share/form_error_messages', form: f %>
							<div class="form-group">
								<%= f.label :username, class: 'control-label col-sm-3' %>
								<div class="col-sm-6">
									<%= f.text_field :username, class: 'form-control', tabIndex: 1 %>
								</div>
							</div>
							<div class="form-group">
								<%= f.label :email, class: 'control-label col-sm-3' %>
								<div class="col-sm-6">
									<%= f.text_field :email, class: 'form-control', tabIndex: 2 %>
								</div>
							</div>
							<div class="form-group">
								<%= label_tag :current_password, t('.current_password'), class: 'control-label col-sm-3' %>
								<div class="col-sm-6">
									<%= password_field_tag :current_password, nil, class: 'form-control', tabIndex: 3 %>
								</div>
							</div>
							<div class="form-group">
								<%= f.label :locale, class: 'control-label col-sm-3' %>
								<div class="col-sm-6">
									<%= f.select :locale, I18n.available_locales.map {|locale| [t("locales.#{locale}"), locale] },{ }, class: 'form-control',tabIndex: 5 %>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6 col-sm-push-3">
									<%= f.submit t('.save_changes'), class: 'btn btn-success' %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<%= render 'settings/sidebar' %>
			</div>
		</div>
	</div>
</div>
<script>
$('form.user-form').validate({
  rules: {
    'user[email]': {
      required: true,
      format: /^([^@\s]+)@((?:[a-z0-9-]+\.)+[a-z]{2,})$/i,
      remote: '/users/check_email?id=<%= current_user.id %>'
    },
    'user[username]': {
      required: true,
      remote: '/users/check_username?id=<%= current_user.id %>',
      format: /^[a-z0-9-]+$/i
    },
    'current_password': 'required'
  },
  messages: {
    'user[username]': {
      required: '<%= @user.errors.generate_message :username, :blank %>',
      remote: '<%= @user.errors.generate_message :username, :taken %>',
      format: '<%= @user.errors.generate_message :username, :format %>'
    },
    'user[email]': {
      required: '<%= @user.errors.generate_message :email, :blank %>',
      remote: '<%= @user.errors.generate_message :email, :taken %>',
      format: '<%= @user.errors.generate_message :email, :format %>'
    },
    'current_password': {
      required: '<%= @user.errors.generate_message :password, :blank %>'
    }
  }
});
</script>