<li class="list-group-item comment" id="comment-<%= comment.id %>" data-creator-id="<%= comment.user_id %>">
	<a href="<%= user_link(comment.user) %>" class="list-group-item-avatar">
		<img class="img-rounded" alt="avatar" src="<%= comment.user.avatar.normal.url %>">
	</a>
	<div class="list-group-item-content">
		<div class="list-group-item-heading">
			<a class="comment-user" href="<%= user_link(comment.user) %>">
				<b><%= comment.user.username %></b>
				<%= "@#{comment.user.username}" %>
			</a>
			<span class="pull-left"><%= time_ago_tag comment.created_at %></span>
		</div>
		<article class="comment-body">
			<%= markdown_format comment.body %>
		</article>
		<div class="list-group-item-actions clearfix">
			<div class="pull-left">
				<a class="btn" href="<%= edit_comment_path(comment) %>" data-remote="true" data-visible-to="creator">
					<i class="fa fa-pencil"></i>
				</a>
				<a class="btn" href="<%= trash_comment_path(comment) %>" data-remote="true" data-method="delete" data-visible-to="creator" data-confirm="<%= t('.delete_confirm') %>">
					<i class="fa fa-trash-o"></i>
				</a>
			</div>
		</div>
	</div>
</li>