<%= paginator.render do %>
	<nav class="paginator-nedidu">
		<a class="btn" data-behaviors="pagination-popover" data-placement="top" data-toggle="button">
			<%= "#{current_page} / #{total_pages}" %>
		</a>
		<div class="popover">
			<div class="popover-content">
				<ul class="pages">
					<% each_page do |page| %>
						<% if page.left_outer? || page.right_outer? || page.inside_window? %>
							<%= page_tag page %>
						<% elsif !page.was_truncated? %>
							<%= gap_tag %>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="btn-group">
			<%= prev_page_tag %>
			<%= next_page_tag %>
		</div>
	</nav>
<% end %>