<div class="list-group">
	<a class="list-group-item <%= 'active' if controller_name == 'accounts' %>" href="<%= settings_account_path %>">
		<div class="pull-right">
			<i class="fa fa-chevron-right"></i>
		</div>
		Account
	</a>
	<a class="list-group-item <%= 'active' if controller_name == 'passwords' %>" href="<%= settings_password_path %>">
		<div class="pull-right">
			<i class="fa fa-chevron-right"></i>
		</div>
		Password
	</a>
	<a class="list-group-item <%= 'active' if controller_name == 'profiles' %>" href="<%= settings_profile_path %>">
		<div class="pull-right">
			<i class="fa fa-chevron-right"></i>
		</div>
		Profile
	</a>
</div>