<% @page_title = t('.all_categories') %>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel book-shelf">
					<div class="panel-heading">
						<h3 class="panel-title">
							<% if @category %>
								<%= @category.name %>
							<% else %>
								<%= t('.all_categories') %>
							<% end %>
						</h3>
					</div>
					<div class="panel-body">
						<ul class="list-inline">
							<% if @books.any? %>
								<% @books.each do |book| %>
									<li>
										<a href="<%= book_path(book) %>">
											<img class="img" src="<%= book.picture.cover.url %>"></img>
										</a>
										<div class="title"><%= link_to book.name, book_path(book) %></div>
										<div class="author"><%= book.author %></div>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
							<li class="<%= 'active' unless @category %>">
								<a href="<%= all_books_path %>"><%= t '.all_categories' %></a>
							</li>
							<% Category.order(books_count: :desc).each do |category| %>
								<li class="<%= 'active' if category == @category %>">
									<a href="<%= categoried_books_path(category_id: category.slug) %>"><%= category.name %></a>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>