<% @page_title = t('.new_books') %>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 pull-right">
				<div class="panel book-shelf">
					<div class="panel-heading">
						<h3 class="panel-title"><%= t('.new_books') %></h3>
					</div>
					<div class="panel-body">
						<ul class="list-inline">
							<% if @new_books.any? %>
								<% @new_books.each do |book| %>
									<li>
										<a href="<%= book_path(book) %>">
											<img class="img" src="<%= book.picture.cover.url %>"></img>
										</a>
										<div><%= link_to book.name, book_path(book) %></div>
										<div><%= book.author %></div>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="panel book-shelf">
					<div class="panel-heading">
						<h3 class="panel-title"><%= t('.hot_books') %></h3>
					</div>
					<div class="panel-body">
						<ul class="list-inline">
						<% if @hot_books.any? %>
							<% @hot_books.each do |book| %>
								<li>
									<a href="<%= book_path(book) %>">
										<img class="img" src="<%= book.picture.cover.url %>"></img>
									</a>
									<div><%= link_to book.name, book_path(book) %></div>
									<div><%= book.author %></div>
								</li>
							<% end %>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-body">
						<a class="btn btn-success btn-block" href="<%= new_book_path %>"><%= t('.submit_new_book') %></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>