<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel">
					<div class="panel-heading">
						<h1 class="panel-title"><%= @book.name %></h1>
					</div>
					<div class="panel-body">
						<div class="col-sm-6">
							<div id="cover">
								<img class="img" src="<%= @book.picture.cover.url %>"></img>
							</div>
							<div id="info">
								<span class="pl"><%= t('.author') %>: </span><%= @book.author %><br>
								<span class="pl"><%= t('.price') %>: </span><%= @book.price %>
							</div>
						</div>
						<div class="description">
							<h3><%= t('.description') %></h3>
							<article class="comment-body">
								<%= @book.description %>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel">
				</div>
			</div>
		</div>
	</div>
</div>