<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel">
					<%= render 'search_form' %>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h1 class="panel-title"><%= @book.name %></h1>
					</div>
					<div class="panel-body book">
						<div class="col-sm-3 pull-right">
								<img class="img" src="<%= @book.picture.cover.url %>"></img>
						</div>
						<div class="col-sm-6">
							<div id="info">
									<span class="pl"><%= t('.author') %>: </span><%= @book.author %><br>
									<span class="pl"><%= t('.price') %>: </span><%= @book.price %><br>
									<span class="pl pull-right"><%= t('.isbn') %>:</span> <%= @book.isbn %>
							 </div>
						</div>
						<div class="description">
							<h3><%= t('.description') %>:</h3>
							<article class="comment-body">
								<%= @book.description %>
							</article>
						</div>
					</div>
					<div class="panel-footer" data-creator-id="<%= @book.user_id %>">
						<% if login? %>
						<div class="list-group-item-actions">							
							<a class="btn" id="like-for-book-<%= @book.id %>" href="<%= book_like_path(@book) %>" data-remote="true" data-method="post">
								<i class="fa fa-heart fa-lg"></i>
							</a>							
							<a class="btn" data-visible-to="creator" href="<%= edit_book_path(@book) %>">
								<i class="fa fa-pencil"></i>
							</a>
						</div>
						<% end %>
					</div>
				</div>
				<div id="comments" class="panel">
					<div class="panel-heading">
						<h3 class="panel-title"><%= t('.comments') %></h3>
					</div>
					<div class="panel-body">
						<ul class="list-group list-group-hepte" id="comments-for-book-<%= @book.id %>">
							<% if @comments.any? %>
								<%= render @comments %>
							<% else %>
								<li class="list-group-item text-center text-muted empty-message">
									<%=  t('.no_comment_yet') %>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="panel">
					<div class="panel-body">
						<% if login? %>
							<% unless current_user.locked? %>
								<div class="list-group list-group-hepte">
									<div class="list-group-item comment">
										<a class="list-group-item-avatar" href="<%= user_link(current_user) %>">
											<img class="img-rouded" src="<%= current_user.avatar.normal.url %>" alt="avatar"></img>
										</a>
										<div class="list-group-item-content">
											<div class="list-group-item-heading">
												<a href="<%= user_link(current_user) %>">
													<b><%= current_user.name %></b>
													@<%= current_user.name %>
												</a>
											</div>
											<%= form_for @book.comments.new, url: book_comments_path(@book), remote: true do |f| %>
												<div class="form-group">
													<%= f.text_area :body, class: 'form-control' %>
												</div>
												<%= f.submit t('.add_this_comment'), class: 'btn btn-success', 'data-disable-with' => t('.add_this_comment') %>
											<% end %>
										</div>
									</div>
								</div>
								<% else %>
									<%= t('.your_account_had_been_locked') %>
								<% end %>
							<% else %>
							<a href="<%= signup_path(return_to: request.fullpath) %>"><%= t('.signup') %></a>
							<%= t('.or') %>
							<a href="<%= login_path(return_to: request.fullpath) %>"><%= t('.login') %></a>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-body">
						<a class="btn btn-success btn-block" href="<%= new_book_path %>"><%= t('.submit_new_book') %></a>
					</div>
				</div>
				<div class="panel">
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
							<li class="">
								<a href="<%= all_books_path %>"><%= t '.all_categories' %></a>
							</li>
							<% Category.order(books_count: :desc).each do |category| %>
								<li class="<%= 'active' if category == @category %>">
									<a href="<%= categoried_books_path(category_id: category.slug) %>"><%= category.name %></a>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="panel">
					<div class="panel-body alert-danger">
						<%= t('.note_body') %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<% if login? %>
		<% if @book.liked_by?(current_user) %>
			<script>
				hepte.Likes.updateLike('book', <%= @book.id %>);
			</script>
		<% end %>
	<% end %>
