<% @page_title = t('.categories') %>
<div class="main">
	<div class="container">
		<%= render 'share/flash_messages' %>
		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<div class="panel">
					<div class="panel-heading clearfix">
						<div class="pull-left">
							<a class="btn btn-default btn-success" href="<%= new_admin_category_path %>">
								<%= t ('.new_category') %>
							</a>
						</div>
						<h2 class="panel-title">
							<%= t('.categories') %>
						</h2>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<% @categories.each do |category| %>
								<a class="list-group-item" href="<%= admin_category_path(category) %>">
									<div class="list-group-item-heading">
										<b><%= category.name %></b>
										<span class="text-muted">
											<%= category.slug %>
										</span>
									</div>
									<div class="text-muted">
										<%= t '.books_count', count: category.books_count %>
									</div>
								</a>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>