<!DOCTYPE html>
<html dir="rtl">
<head>
  <title><%= @page_title? "#{@page_title} - #{CONFIG['title']}" : "#{CONFIG['title']}" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<% if I18n.locale != 'en' %>
		<%= javascript_include_tag "locales/#{I18n.locale}" %>
	<% end %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if login? %>
		<script>
			hepte.currentUser = {
				id: <%= current_user.id %>
			}
		</script>
	<% end %>
</head>
	<body>
		<nav class="navbar navbar-static-top">
			<div class="container">
				<div class="nav navbar-nav">
					<% if login? %>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href='#'>
								<img class="img-circle img-avatar" src="<%= current_user.avatar.normal.url %>"></img>
								<%= current_user.name %>
								<i class="fa fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu">
								<li><%= link_to t('.my_books'), user_root_path(username: current_user.username) %></li>
								<li><%= link_to t('.profile'), settings_profile_path %></li>
								<li><%= link_to t('.settings'), settings_account_path %></li>
								<li><%= link_to t('.logout'), logout_path, method: :delete %></li>
							</ul>
						</li>
						<li class="<%= 'active' if request.original_fullpath =~ /^\/notifications/ %>">
							<a class="notifications-bell" href="<%= notifications_path %>">
								<i class="fa fa-bell-o"></i>
								<% if unread_notifications_count > 0 %>
									<div class="badge"><%= unread_notifications_count > 99 ? '99+' : unread_notifications_count %></div>
								<% end %>
							</a>
						</li>
					<% else %>
						<li><%= link_to t('.sign_up'), signup_path %></li>
						<li><%= link_to t('.sign_in'), login_path %></li>
					<% end %>
				</div>
				<div class="navbar-header navbar-right">
					<a class ="navbar-brand" href="<%= root_path %>"><img src="<%= image_url('logo.png') %>"></img></a>
				</div>
			</div>
		</nav>
		<% if login? && !current_user.confirmed? %>
			<%= render 'share/user_confirm_required' %>
		<% end %>
		<%= yield %>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					<a href="mailto:info@hepte.com">
						<%= t('.email_contact') %>
						<i class="fa fa-envelope"></i>
					</a>
					<%= CONFIG['title'] %> | ئۇيغۇرچە كىتاب ئامبىرى
					<a class="pull-left" href="http://selte.net"><img src="<%= image_url('seltenet.png') %>"> سەلتەنەت تور تېخنىكا شىركىتى</a>
				</p>
			</div>
		</footer>
	</body>
</html>
